<%= form_with(model: entity, local: true) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputPlaceholder" class="control-label warning-color">Machine name</label>
  <%= form.text_field :machine_name, class: "form-control material input-warning", placheholder: 'Machine name',
  id: 'inputPlaceholder' %>
  </div>

  <div class="field">
    <%= form.label :iteasykit_entity_type_id %>
    <%= form.text_field :iteasykit_entity_type_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :sticky %>
    <%= form.check_box :sticky %>
  </div>

  <div class="field">
    <%= form.label :iteasykit_seomore_id %>
    <%= form.text_field :iteasykit_seomore_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
