<p id="notice"><%= notice %></p>

<% content_for :entity_title do %>Entities<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Machine name</th>
      <th>Iteasykit entity type</th>
      <th>Active</th>
      <th>Sticky</th>
      <th>Iteasykit seomore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.machine_name %></td>
        <td><%= entity.iteasykit_entity_type %></td>
        <td><%= entity.active %></td>
        <td><%= entity.sticky %></td>
        <td><%= entity.iteasykit_seomore %></td>
        <td><%= link_to 'Show', entity %></td>
        <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Entity', new_entity_path %> -->
