
<!--breadcrumbs-->
<div class="s-container">
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrumbs">
				<a href="/<% if params[:locale] == 'ru' %>ru<% end %>"><%= t('home_link') %></a> >
				<a href="<% if params[:locale] == 'ru' %>/ru<% end %>/entities/partners"><%= t('partners') %></a> > <span><%= t('kbe_territory') %></span>
        </div>
        </div>
    </div>
</div>

<% if params[:locale] != 'ru' %>
<section class="territory-section">
		<div class="s-container">

			<div id="tab-current" class="tab-content active-tab">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Територія TROCAL 76</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, 
							а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг.
							 На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<img class="territory-img" src="/assets/img/territory-img.png">
					</div>
				</div>
			</div>
			<div id="tab-50" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Захист від сонця</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/5JvY2ALvWx4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-51" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Теплоізоляція</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/IlPUBsdgZxM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-52" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Захист від шуму</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/L7Nqprvmp8k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-53" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Безпека</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/lcDOjrb-b30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-54" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Ламінування</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/TutHnuWMCpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-55" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Технології</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/yjBwlMgOr-A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-56" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Екологія</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/mT_6kzP_S-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-57" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Переваги</h1>
						</div>
						<div class="territory-content">
							<p>Віконні і дверні системи TROCAL відрізняються між собою не тільки монтажною глибиною, а й системно-специфічними особливостями. Система TROCAL 76 має багато переваг. На нашому мікросайті представлені відеофрагменти, що демонструють її переваги над попередніми вікнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/KEfchbCUpeE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>

		</div>
		<div class="territory-nav-container">
			<div class="s-container">
				<div class="row">
					<div class="col-md-12">
						<ul class="territory-nav">
							<li class="tab-link" data-tab="50">
								<img class="territory-nav-icon" src="/assets/img/icon-largesurfaces.png">
								<span>Захист&nbsp;від&nbsp;сонця</span>
							</li>
							<li class="tab-link" data-tab="51">
								<img class="territory-nav-icon" src="/assets/img/icons-heat-insulation.png">
								<span>Теплоізоляція</span>
							</li>
							<li class="tab-link" data-tab="52">
								<img class="territory-nav-icon" src="/assets/img/icons-noise-protection.png">
								<span>Захист&nbsp;від&nbsp;шуму</span>
							</li>
							<li class="tab-link" data-tab="53">
								<img class="territory-nav-icon" src="/assets/img/icons-safety.png">
								<span>Безпека</span>
							</li>
							<li class="tab-link" data-tab="54">
								<img class="territory-nav-icon" src="/assets/img/icons-scope.png">
								<span>Ламінування</span>
							</li>
							<li class="tab-link" data-tab="55">
								<img class="territory-nav-icon" src="/assets/img/icons-technology.png">
								<span>Технології</span>
							</li>
							<li class="tab-link" data-tab="56">
								<img class="territory-nav-icon" src="/assets/img/icons-ecology.png">
								<span>Екологія</span>
							</li>
							<li class="tab-link" data-tab="57">
								<img class="territory-nav-icon" src="/assets/img/icons-outro.png">
								<span>Переваги</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<% else %>
<section class="territory-section">
		<div class="s-container">

			<div id="tab-current" class="tab-content active-tab">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Территория TROCAL 76</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<img class="territory-img" src="/assets/img/territory-img.png">
					</div>
				</div>
			</div>
			<div id="tab-50" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Солнцезащита</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/XZ3fn8KLDwg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-51" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Теплоизоляция</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/uvzZSi_L_8c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-52" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Защита от шума</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/UEqkxJq7QT0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-53" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Безопасность</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/qzSVCW-eoiY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-54" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Ламинация</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/N6XdgS8UBEE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-55" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Технологии</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/mIwYlfvaGvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-56" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Экология</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/Iqf39Szeq3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>
			<div id="tab-57" class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<div class="territory-title">
							<h1>Преимущества</h1>
						</div>
						<div class="territory-content">
							<p>Оконные и дверные системы TROCAL отличаются друг от друга не только монтажной глубиной, но и системно-специфическими особенностями. Система TROCAL 76 имеет много достоинств. На нашем микросайте представлены видеофрагменты, демонстрирующие ее преимущества перед старыми окнами.</p>
						</div>
						
					</div>
					<div class="col-md-6 text-right" style="position: relative;">
						<img class="territory-bg" src="/assets/img/territory-bg.png">
						<div class="territory-img">
							<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/HaAGKYptces" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						
					</div>
				</div>
			</div>

		</div>
		<div class="territory-nav-container">
			<div class="s-container">
				<div class="row">
					<div class="col-md-12">
						<ul class="territory-nav">
							<li class="tab-link" data-tab="50">
								<img class="territory-nav-icon" src="/assets/img/icon-largesurfaces.png">
								<span>Солнцезащита</span>
							</li>
							<li class="tab-link" data-tab="51">
								<img class="territory-nav-icon" src="/assets/img/icons-heat-insulation.png">
								<span>Теплоизоляция</span>
							</li>
							<li class="tab-link" data-tab="52">
								<img class="territory-nav-icon" src="/assets/img/icons-noise-protection.png">
								<span>Защита&nbsp;от&nbsp;шума</span>
							</li>
							<li class="tab-link" data-tab="53">
								<img class="territory-nav-icon" src="/assets/img/icons-safety.png">
								<span>Безопасность</span>
							</li>
							<li class="tab-link" data-tab="54">
								<img class="territory-nav-icon" src="/assets/img/icons-scope.png">
								<span>Ламинация</span>
							</li>
							<li class="tab-link" data-tab="55">
								<img class="territory-nav-icon" src="/assets/img/icons-technology.png">
								<span>Технологии</span>
							</li>
							<li class="tab-link" data-tab="56">
								<img class="territory-nav-icon" src="/assets/img/icons-ecology.png">
								<span>Экология</span>
							</li>
							<li class="tab-link" data-tab="57">
								<img class="territory-nav-icon" src="/assets/img/icons-outro.png">
								<span>Преимущества</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>

<!--
<section class="territory-section">
    <div class="s-container">
        <div class="row">
            <div class="col-md-6">
                <div class="territory-title">
                    <h1><%= @entity.field(:title) %></h1>
                </div>
                <div class="territory-content"><%= @entity.field(:body) %></div>
                <div class="red-border-btn"><a href="#">Перейти</a></div>
            </div>
            <div class="col-md-6 text-right" style="position: relative;">
                <img class="territory-bg" src="/assets/img/territory-bg.png">

              <%= image_tag main_app.url_for(@entity.field(:imagekbeterritory)), class:"territory-img" %>
            </div>
        </div>
    </div>
</section>-->