	<!-- Features list-->
		<section class="features-slide-wrap">
			<div class="s-container">
				<div class="row mobile-title"><h1><%= @block.title %></h1></div>
      <div class="features-slide-list">
  <% @block.rel_cells.each do |rel_cell| %>
    <% cell = rel_cell.iteasykit_cell %>
          
					<div class="features-slide-item" title="<%= cell.title %>">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<div class="item-image">
							        <%= image_tag main_app.url_for(cell.field(:imagetf)) unless cell.field(:imagetf).nil? %>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="item-description">
									<h1><%= @block.title %></h1>
									<h2> <%= cell.title %></h2>
									<div class="item-text">
										        <%= cell.field(:texttf) %>
                                    </div>
								</div>
							</div>
						</div>
					</div>
	     

  <% end %>

		
			       </div>
				
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="features-arrow d-flex justify-content-between">
							<div class="features-left-wrap">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="6" viewBox="0 0 15.22 5.29" transform="rotate(180)"><path d="M.5 2.65h14.22m0 0L12.57.5m2.15 2.15l-2.15 2.14" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></svg>
								<span class="features-left"></span>
							</div>
							<div class="features-right-wrap">
								<span class="features-right"></span>
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="6" viewBox="0 0 15.22 5.29"><path d="M.5 2.65h14.22m0 0L12.57.5m2.15 2.15l-2.15 2.14" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
